<head>
  <link rel="stylesheet" href="/main.css" />
  <script type="text/javascript" src="/main.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Courier+Prime|Roboto+Slab&display=swap" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>

<body>

  <div id="main-wrapper">
    <div class="header">
      <div class="heading">
        <div class="filter-button">
          <a style="text-decoration: underline; text-underline-position: under;" href="/projects">
            <h2>projects</h2>
          </a>
        </div>
        <div class="filter-button">
          <a style="text-decoration: underline; text-underline-position: under;" href="/about">
            <h2>about me</h2>
          </a>
        </div>
      </div>
    </div>

    <div class="article-body responsive-wider text-box">
      <div class="behind wheat" style="
                top: 0rem;
                left: -2rem;
                opacity: 0.3;
                height: 100%;
                width: 95%;
            ">
      </div>
      <p>My name is William Johnston. Welcome to my portfolio.</p>
      <p>I'm studying a bachelor of IT and Commerce at <a class="emphasised darkslategray"
          href="https://www.monash.edu/">Monash University</a>, majoring/minoring in software development, finance,
        cyber
        security, and actuarial studies.</p>
      <p>I'm always hungry for more hands-on work than my degree alone can provide, so a
        lot of my spare time is spent learning a new skill by building something with it. This is how most of <a
          class="emphasised darkslategray" href="/projects">my projects</a> are born. I have a curious, creative, and
        wilful personality. I get cool ideas, and I make them happen.</p>
      <p>In the rest of my spare time, I write and perform music and theatre with the <a
          class="emphasised darkslategray" href="http://robothouse.club">robot house neoblork collective</a>, and I get
        my exercise through <a class="emphasised darkslategray" href="https://en.wikipedia.org/wiki/Muay_Thai">muay
          thai</a>.</p>
      <p>I also learn through my work on technical projects with <a href="https://www.monash.edu/fast"
          class="emphasised darkslategray">Monash FAST</a>. I've been working
        casually for FAST since September, 2018.</p>
      <p>You can reach out to me via my email, william.cd.johnston@gmail.com, or swing by my <a
          href="https://linkedin.com/in/wil-j-88b232120/" class="emphasised darkslategray">linkedin profile</a>.</p>
    </div>


    <div class="footer">
    </div>
  </div>
</body>